@using InfoSurge.Models.Comment
@model CommentFormModel

<form asp-action="AddComment" asp-controller="Comment" method="post">
    <input type="hidden" name="articleId" value="@Model.ArticleId" />
    <div class="form-group mb-3">
        <label asp-for="Title">Заглавие:</label>
        <input class="form-control mb-3 rounded-3 shadow border-1" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Content">Текст:</label>
        <textarea class="form-control mb-3 rounded-3 shadow border-1" asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Публикувай</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            autosize(document.querySelectorAll("textarea"));
        });
    </script>
}
